<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/navbar.css' />
    <link rel='stylesheet' href='/css/generate-regex.css' />
    <link rel='stylesheet' href='/css/regex-generator.css' />
    <script defer src='/scripts/js/fontawesome.min.js'></script>
    <script defer src='/scripts/js/solid.min.js'></script>
    <title>Generate RegEx</title>
  </head>
  <body>
    <div class='regex__container'>
      {{>navbar}}
      <main class="regex__main">
        <div>
          {{>regex_generator}}
        </div>
      </main>
    </div>

    <script src='/scripts/navbar.js'></script>
    <script src='/scripts/regex-generator.js'></script>
    <script src='/scripts/generate-regex.js'></script>
  </body>
</html>