<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/navbar.css' />
    <link rel='stylesheet' href='/css/generate-captcha.css' />
    <script defer src='/scripts/js/fontawesome.min.js'></script>
    <script defer src='/scripts/js/solid.min.js'></script>
    <title>Generate Captcha</title>
  </head>
  <body>
    <div class='captcha__container'>
      {{>navbar}}
      <main>
        <h1>Welcome, {{username}}!</h1>
        <h4>main captcha</h4>
      </main>
    </div>

    <script src='/scripts/navbar.js'></script>
    <script src='/scripts/generate-captcha.js'></script>
  </body>
</html>