<div class='captcha-gen__container'>
  <div class='captcha-gen__inner'>

    <div id='card-1' class='card'>
      <div class='card-header'>Enter Regex</div>
      <div id='form-input' class='card-body'>
        <div class='input-wrapper'>
          <form>
            <div class='input-1'>
              <label>Regex</label>
              <input type='text' name='regex-input' placeholder='Regular expression' required />
            </div>
            <div class='input-2'>
              <label>Upper limit</label>
              <input
                type='number'
                name='limit-input'
                min='0'
                placeholder='Max. number of generated strings'
                required
              />
            </div>
            <div class='input-3'>
              <button class='generate-btn'>GENERATE<i class='fas fa-arrow-right'></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div id='card-2' class='card hide'>
      <div class='card-header'>
        <div>Generated Strings and Captchas</div>
        <div class='download' data-tooltip='Download JSON file for ALL captchas?'>
          <i class='fas fa-file-download'></i>
        </div>
      </div>
      <div class='card-body'>
        <ul class='captchas'>
          {{!-- <li>
            <span class="text">{{text}}</span>
            <img class='generated-captcha' src={{image}} height='90px' width='260px' />
            <span id='tooltip-container' onclick="getDataOne()" data-tooltip='Download JSON file for THIS captcha?'>
              <i class='fas fa-file-download' onmouseenter="showTooltip(event)" onmouseleave="hideTooltip(event)"></i>
            </span>
          </li> --}}
        </ul>
      </div>
    </div>

  </div>
</div>