{{!-- <div class='captcha__container'>
  {{>navbar}}
  <main>
    <h1>Welcome, {{username}}!</h1>
    <h4>regex is {{regex}}</h4>
  </main>
</div> --}}

<div class='captcha__container'>
  {{>navbar}}
  <div class="captcha__main">
    {{>captcha_generator}}
  </div>
</div>