<div class='navbar'>
  <div class='logout'>
    <i class='fas fa-sign-out-alt fa-2x'></i>
  </div>
  <ul>
    <li id='regex'><a href='#'>Generate RegEx</a></li>
    <li id='captcha'><a href='#'>Generate Captcha</a></li>
  </ul>
</div>