<div class='regex-gen__container'>
  <div class='regex-gen__inner'>

    <div class='card'>
      <div class='card-header'>Add String</div>
      <div class='card-body'>
        <div class='input-wrapper'>
          <input type='text' name='string-input' />
          <button class='add-btn'><i class='fas fa-plus'></i></button>
        </div>
      </div>
    </div>

    <div id='regex-output' class='card hide'>
      <div class='card-header'>Generated Regex</div>
      <div class='card-body'>
        <div class='input-wrapper'>
          <input type='text' name='output' readonly />
          <button class='reset-btn'><i class='fas fa-redo-alt'></i></button>
        </div>
      </div>
    </div>

    <div id='strings-list' class='card hide'>
      <div class='card-header'>Added Strings</div>
      <div class='card-body'>
        <ul class='strings'>

        </ul>
      </div>
    </div>
  </div>
</div>